<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="comment-info">
       on <span class="date">{{dateTime created_at}}</span> <span class="username">{{user.username}}</span> said...
    </div>
    <div class="comment_text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>