<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Stack Undertow</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/assets/favicon-16x16.png">
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <h1 id="logo">
          <a href='/'>Stack Undertow</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href='/dashboard' class="enter" id="dashboard">Dashboard</a>
            <button id='logout' class='btn'>Log Out</button>
          {{else}}
            <a href='/login' class="enter" id="login">Log In</a>
            <a href='/signup' class="enter" id="signup">Sign Up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        cool beans
      </footer>
      {{#if loggedIn}}
        <script src='/javascript/logout.js'></script>
      {{/if}}
    </div>
  </body>
</html>