{{!-- main layout --}}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Stack Undertow</title>
    {{!-- stylesheet link and favicon --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/assets/favicon-16x16.png">
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <h1 id="logo">
          <a href='/'>Stack Undertow</a>
        </h1>
        <nav>
          {{!-- if user is logged in, show dashboard and log out --}}
          {{#if loggedIn}}
            <a href='/dashboard' class="enter" id="dashboard">Dashboard</a>
            <button id='logout' class='btn'>Log Out</button>
          {{else}}
          {{!-- if not logged in, give option to log in and sign up --}}
            <a href='/login' class="enter" id="login">Log In</a>
            <a href='/signup' class="enter" id="signup">Sign Up</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        <p>Check out my other projects on <a href="https://github.com/soundproofboot" target="_blank">GitHub</a></p>
      </footer>
      {{#if loggedIn}}
      {{!-- if logged in, give functionality to log out button --}}
        <script src='/javascript/logout.js'></script>
      {{/if}}
    </div>
  </body>
</html>