<article>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <input type="text" name="post-title" value="{{post.post_title}}" />
      <textarea name="post-text">{{post.post_text}}</textarea>
    </div>
    <button type="submit">Save Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>