<article>
  <h2>Edit Post</h2>
  <form class="post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" name="post-title" value="{{post.post_title}}" id="post-title"/>
    </div>
    <div>
      <textarea name="post-text" id="post-text-textarea">{{post.post_text}}</textarea>
    </div>
    <button type="submit" class="btn">Save Post</button>
    <button type="button" class="delete-post-btn">Delete Post</button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>