<form class="login-form">
  <div>
    <label for="username-login">Username</label>
    <input type="text" id="username-login" class="input-area"/>
  </div>
  <div>
    <label for="password-login">Password</label>
    <input type="password" id="password-login" class="input-area"/>
  </div>
  <div>
    <button type="submit" class="btn">Log In</button>
  </div>
</form>

<script src="/javascript/login.js"></script>