{{!-- sign up page --}}
<form class='signup-form'>
  <div>
    <label for='username-signup'>Username</label>
    <input type='text' id='username-signup' class="input-area"/>
  </div>
  <div>
    <label for='password-signup'>Password</label>
    <input type='password' id='password-signup' class="input-area"/>
  </div>
  <div>
    <button type='submit' class="btn">Sign Up</button>
  </div>
</form>

{{!-- functionality for signup button --}}
<script src="/javascript/signup.js"></script>