{{!-- page for single post, use post-info partial to display --}}
{{>post-info post}}

{{!-- if user logged in, comment form shown --}}
{{#if loggedIn}}
<form class="comment-form">
  <div>
  <textarea name="comment-body" placeholder="What do you think?" class="comment-textarea"></textarea>
  </div>

  <div>
    <button type="submit" class="btn" id="comment-btn">Add Comment</button>
  </div>
</form>
{{/if}}

{{!-- use comments partial to show comments on this post --}}
{{> comments post.comments}}

{{!-- if user is logged in, add functionality for comment form --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}