{{>post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
  <textarea name="comment-body" placeholder="What do you think?" class="comment-textarea"></textarea>
  </div>

  <div>
    <button type="submit" class="btn" id="comment-btn">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}