* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Verdana';
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

ol {
  list-style: none;
}
header a{
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  align-items: center;
  height: 15vh;
  border-bottom: 10px solid gray;
  position: sticky;
  top: 0;
}

#logo {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 2rem;
  font-family: 'Arial';
}

.enter {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Verdana';
}

#signup {
  margin-right: 50px;
}

#dashboard {
  margin-right: 50px;
}

body {
  background-color: rgb(204, 204, 204);
}
main {
  width: 80%;
  margin: 0 auto;
  line-height: 1.3;
  min-height: 100vh;
}

.about {
  color: black;
  font-size: 1.1rem;
  text-align: end;
}

.date {
  font-style: italic;
}

.username {
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  border-top: 5px solid gray;
  position: sticky;
  bottom: 0;
}

.post {
  margin-top: 30px;
  border: solid 1px darkgray;
  padding: 20px;
  background-color: rgba(47, 79, 79, 0.575);
}

.post-text {
  line-height: 1.5;
  font-weight: 700;
  margin: 30px 0;
}

.post-title {
  padding-top: 20px;
}